* {
  box-sizing: border-box;
}

.TodoListItem {
  display: flex;
  justify-content: space-between;

  padding: 10px;

  color: #9f73ab;
}

.TodoListItem span {
  padding: 5px 5px 3px;
  border-radius: 50%;

  color: #fff;
  background-color: #9f73ab;
}
